{{- /* Go Template */ -}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Time</title>
    </head>
    <body>
        <h1>
            <a href="https://time.andrewlester.net">time.andrewlester.net</a>
        </h1>
        <p>According to this server, your request arrived at time {{.Time}}</p>
        {{ if .Region }}
        <p>Server running in the {{.Region}} region</p>
        {{ end }}
    </body>
</html>
